{% extends "admin.html" %}


{% block title %}
<h6 class="title">
    
</h6>
{% endblock %}

{% block content %}
<main>
    <div class="dashboard container-fluid">
        <div class="outer-section-1">
            <div class="section-cars-available">
                <label for="cars-available">Total no. of cars in live</label>
                <h5 class="cars-available">-</h5>
            </div>
            
            <div class="section-cars-archive">
                <label for="cars-archive">Total no. of cars in archive</label>
                <h5 class="cars-archive">-</h5>
            </div>
            
            <div class="section-cars-sold">
                <label for="cars-sold">Total no. of cars sold</label>
                <h5 class="cars-sold">-</h5>
            </div>
        </div>        
    </div>
</main>
{% endblock %}

{% block script %}    

<script src="{{ url_for('static', path='admin/js/dashboard.js') }}"></script>
    
{% endblock %}