<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='common/resources/favico.png'  ) }}" sizes="10x10">
    
    <title>Admin Signin</title>
    <link rel="stylesheet" href="{{ url_for('static', path='common/css/sanitize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='admin/css/signin.css') }}">
    
</head>
<body>
    <main class="signin">
        <img class="logo" src="{{ url_for('static', path='common/resources/logo-light.png'  )  }}" alt="LOGO">
        
        <div class="mb-3">            
            <input type="email" class="input" id="signin-email" aria-describedby="emailHelp" placeholder="Email address or Phone">
        </div>
        
        <div class="mb-3">            
            <input type="password" class="input" id="signin-password" placeholder="Password">
        </div>
        
        <div class="mb-3 form-check">
            <input type="checkbox" class="check-input" id="rememberme">
            <label class="check-label" for="rememberme">Remember me</label>
        </div>
        
        <input type="submit" id="signin_submit" class="submit" value="submit">
        
    </main>    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', path='admin/js/script.js') }}"></script>
</body>
</html>