<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='common/resources/favico.png'  ) }}" sizes="10x10">

    <title>Used Cars</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"   rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      
    <link rel="stylesheet" href="{{ url_for('static', path='common/css/nouislider.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', path='user/css/buy_car.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', path='common/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='common/css/owl.theme.default.css') }}">

    <script src="{{ url_for('static', path='common/js/owl.carousel.min.js') }}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FXD4TJWYNT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-FXD4TJWYNT');
    </script>
</head>

<body>    
    <nav cass="navbar">
        <div class="mobile_nav">
            <button class="btn nav_btn">
                <span class="material-icons" > menu </span>
            </button>
                        
            <a href="/" >
                <img class="nav_logo" src="{{ url_for('static', path='common/resources/logo-light.png'  ) }}" alt="">
            </a>
                        
            <div class="circle"></div>
            <div class="nav_list_outer">
                <div class="nav_list_header">
                    <button class="btn nav_list_btn">
                        <span class="material-icons" > cancel </span>
                    </button>
                    <a href="/" >
                        <img class="nav_logo" src="{{ url_for('static', path='common/resources/logo-dark.png'  ) }}" alt="">
                    </a>
                </div>
                <ul class="nav_list_body" >                    
                    <li class=" nav-item buy_car {{buy_car}}">
                        <a href="/buy-used-car" class="nav-link">BUY CAR</a>
                    </li>
                                        
                    <li class="nav-item dashboard {{dashboard}}">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#sellcarModal">SELL CAR</a>
                    </li>
    
                    <li class="nav-item contact_us {{dashboard}}">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#contactModal" >CONTACT US</a>
                    </li>
    
                    <li class="nav-item about_us {{dashboard}}">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#aboutModal">ABOUT US</a>
                    </li>
                    
                    <li class="nav-item faq {{dashboard}}">
                        <a href="/#accordion_zeroo_faq" class="nav-link"> FAQ's  </a>
                    </li>                    
                </ul>
            </div>
        </div>   
        
        <div class="container desktop_nav">
            <a class="navbar-brand" href="/">
                <img class="nav_logo" src="{{ url_for('static', path='common/resources/logo-light.png'  ) }}" alt="">
            </a>

            <ul class="nav_list navbar-nav" >
                <li class=" nav-item buy_car {{buy_car}}">
                    <a href="/buy-used-car" class="nav-link">BUY CAR</a>
                </li>
                
                <li class="nav-item sell_car {{sell_car}}">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#sellcarModal">SELL CAR</a>
                </li>

                <li class="nav-item contact_us {{contact_us}}">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#contactModal" >CONTACT US</a>
                </li>

                <li class="nav-item about_us {{about_us}}">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#aboutModal">ABOUT US</a>
                </li>
                
                <li class="nav-item faq {{faq}}">
                    <a href="/#accordion_zeroo_faq" class="nav-link"> FAQ's  </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="page-wrapper container buycars">
        
        <aside class="aside">
            <!-- <div class="mobileFilter filter_container owl-1 owl-carousel">
                <div class="dropdown filter_options filter_budget">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" 
                    type="button" data-bs-toggle="modal" data-bs-target="#modalFilter" aria-expanded="false">
                      Budget
                    </button>
                </div>
                <div class="dropdown filter_options">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" type="button" aria-expanded="false">
                      Brand
                    </button>
                </div>
                <div class="dropdown filter_options">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" type="button" aria-expanded="false">
                      Year
                    </button>
                </div>
                <div class="dropdown filter_options">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" type="button"  aria-expanded="false">
                      Kilometer
                    </button>
                </div>                
            </div> -->

            <div class="filters desktopFilter">
                <div class="filter_budget">
                    <p>Budget</p>
                    <div class="price_text">
                        <p id="min_price">Rs --</p> <p id="max_price">Rs --</p>
                    </div>
                    <div class="range_container">
                        <div id="slider" style="height: 10px; width: 90%;"></div>
                    </div>
                </div>

                <div class="filter_brand">
                    <p>Brand</p>
                    <div class="brand_list">
                        <div class="brand_audi">
                            <input type="checkbox" name="audi" class="checkboxFilter" id="audi">
                            <label for="audi">Audi</label>
                        </div>
                        <div class="brand_bmw">
                            <input type="checkbox" name="bmw" class="checkboxFilter" id="bmw">
                            <label for="bmw">Bmw</label>
                        </div>
                        <div class="brand_chevrolet">
                            <input type="checkbox" name="chevrolet" class="checkboxFilter" id="chevrolet">
                            <label for="chevrolet">Chevrolet</label>
                        </div>
                        <div class="brand_datsun">
                            <input type="checkbox" name="datsun" class="checkboxFilter" id="datsun">
                            <label for="datsun">Datsun</label>
                        </div>                          
                        <div class="brand_fiat">
                            <input type="checkbox" name="fiat" class="checkboxFilter" id="fiat">
                            <label for="fiat">Fiat</label>
                        </div>
                        <div class="brand_ford">
                            <input type="checkbox" name="ford" class="checkboxFilter" id="ford">
                            <label for="ford">Ford</label>
                        </div> 
                        <div class="brand_hyundai">
                            <input type="checkbox" name="hyundai" class="checkboxFilter" id="hyundai">
                            <label for="hyundai">Hyundai</label>
                        </div>
                        <div class="brand_honda">
                            <input type="checkbox" name="Honda" class="checkboxFilter" id="Honda">
                            <label for="honda">Honda</label>
                        </div>
                        <div class="brand_isuzu">
                            <input type="checkbox" name="isuzu" class="checkboxFilter" id="isuzu">
                            <label for="isuzu">Isuzu</label>
                        </div>
                        <div class="brand_jaguar">
                            <input type="checkbox" name="jaguar" class="checkboxFilter" id="jaguar">
                            <label for="jaguar">Jaguar</label>
                        </div>
                        <div class="brand_jeep">
                            <input type="checkbox" name="jeep" class="checkboxFilter" id="jeep">
                            <label for="jeep">Jeep</label>
                        </div>
                        <div class="brand_kia">
                            <input type="checkbox" name="kia" class="checkboxFilter" id="kia">
                            <label for="kia">Kia</label>
                        </div>
                        <div class="brand_landrover">
                            <input type="checkbox" name="landrover" class="checkboxFilter" id="landrover">
                            <label for="landrover">Land Rover</label>
                        </div>                        
                        <div class="brand_mahindra">
                            <input type="checkbox" name="mahindra" class="checkboxFilter" id="mahindra">
                            <label for="mahindra">Mahindra</label>
                        </div>
                        <div class="brand_maruti">
                            <input type="checkbox" name="maruti" class="checkboxFilter" id="maruti suzuki">
                            <label for="maruti">Maruti Suzuki</label>
                        </div>   
                        <div class="brand_mercedesbenz">
                            <input type="checkbox" name="mercedesbenz" class="checkboxFilter" id="mercedes benz">
                            <label for="mercedesbenz">Mercedes Benz</label>
                        </div>
                        <div class="brand_mgmotors">
                            <input type="checkbox" name="mgmotors" class="checkboxFilter" id="mgmotors">
                            <label for="mgmotors">Mg Motors</label>
                        </div>
                        <div class="brand_mini">
                            <input type="checkbox" name="mini" class="checkboxFilter" id="mini">
                            <label for="mini">Mini</label>
                        </div>
                        <div class="brand_mitsubishi">
                            <input type="checkbox" name="mitsubishi" class="checkboxFilter" id="mitsubishi">
                            <label for="mitsubishi">Mitsubishi</label>
                        </div>
                        <div class="brand_nissan">
                            <input type="checkbox" name="nissan" class="checkboxFilter" id="nissan">
                            <label for="nissan">Nissan</label>
                        </div>
                        <div class="brand_renault">
                            <input type="checkbox" name="renault" class="checkboxFilter" id="renault">
                            <label for="renault">Renault</label>
                        </div>
                        <div class="brand_skoda">
                            <input type="checkbox" name="skoda" class="checkboxFilter" id="skoda">
                            <label for="skoda">Skoda</label>
                        </div>
                        <div class="brand_tata">
                            <input type="checkbox" name="tata" class="checkboxFilter" id="tata">
                            <label for="tata">Tata</label>
                        </div>
                        <div class="brand_toyota">
                            <input type="checkbox" name="toyota" class="checkboxFilter" id="toyota">
                            <label for="toyota">Toyota</label>
                        </div>
                        <div class="brand_volkswagen">
                            <input type="checkbox" name="volkswagen" class="checkboxFilter" id="volkswagen">
                            <label for="volkswagen">Volkswagen</label>
                        </div>
                        <div class="brand_volvo">
                            <input type="checkbox" name="volvo" class="checkboxFilter" id="volvo">
                            <label for="volvo">Volvo</label>
                        </div>                        
                    </div>
                </div>

                <div class="filter_year">
                    <p>Year</p>                    
                    <div class="year_range ">
                        <div id="dateSlider" style="height: 10px; width: 100%;"></div>
                    </div>
                </div>

                <div class="filter_kilometer">
                    <p>KM Driven</p>
                    <div class="kilometer_list">
                        <div class="list_1">
                            <input type="radio" id="kilometer_1" class="kilometerFilter" name="kilometer" value="30000">
                            <label for="kilometer_1">10000 KM - 30000 KM</label>
                        </div>

                        <div class="list_2">                            
                            <input type="radio" id="kilometer_2" class="kilometerFilter" name="kilometer" value="60000">
                            <label for="kilometer_2">31000 KM - 60000 KM</label>
                        </div>

                        <div class="list_3">
                            <input type="radio" id="kilometer_3" class="kilometerFilter" name="kilometer" value="100000">
                            <label for="kilometer_3">61000 KM - 100000 KM</label>
                        </div>

                        <div class="list_4">
                            <input type="radio" id="kilometer_4" class="kilometerFilter" name="kilometer" value="200000"> 
                            <label for="kilometer_4">200000 KM</label>
                        </div>    
                    </div>
                </div>
            </div>

            <!-- Mobile Filter Modal -->
            <div class="modal mobileModalFilter"   id="modalFilter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="btn" type="button" data-bs-dismiss="modal"> 
                                <span class="material-icons">
                                west
                                </span>
                            </div>                            
                        </div>

                        <div class="row modal-body mobileFilterBody ">
                            <div class="col-4 bodyLeft">
                                <div class="budget filterName active">
                                    <span>
                                        Budget
                                    </span> 
                                </div>
                                <div class="brand filterName">                                    
                                    <span>
                                        Brand
                                    </span> 
                                </div>
                                <div class="year filterName">                                    
                                    <span>
                                        Year
                                    </span>
                                </div>
                                <div class="kilometer filterName">
                                    <span>
                                        KM Driven
                                    </span>
                                </div>
                            </div>

                            <div class="col bodyRight">
                                <div class="filter_budget" >
                                    <div class="price_text">
                                        <p id="min_price"></p> <p id="max_price"></p>
                                    </div>
                                    <div class="range_container">
                                        <div id="slider" ></div>
                                    </div>
                                </div>
                                
                                <div class="filter_brand" >
                                    <div class="brand_list">
                                        <div class="brand_audi">
                                            <input type="checkbox" name="audi" class="checkboxFilter" id="audi">
                                            <label for="audi">Audi</label>
                                        </div>
                                        <div class="brand_bmw">
                                            <input type="checkbox" name="bmw" class="checkboxFilter" id="bmw">
                                            <label for="bmw">Bmw</label>
                                        </div>
                                        <div class="brand_chevrolet">
                                            <input type="checkbox" name="chevrolet" class="checkboxFilter" id="chevrolet">
                                            <label for="chevrolet">Chevrolet</label>
                                        </div>
                                        <div class="brand_datsun">
                                            <input type="checkbox" name="datsun" class="checkboxFilter" id="datsun">
                                            <label for="datsun">Datsun</label>
                                        </div>                          
                                        <div class="brand_fiat">
                                            <input type="checkbox" name="fiat" class="checkboxFilter" id="fiat">
                                            <label for="fiat">Fiat</label>
                                        </div>
                                        <div class="brand_ford">
                                            <input type="checkbox" name="ford" class="checkboxFilter" id="ford">
                                            <label for="ford">Ford</label>
                                        </div> 
                                        <div class="brand_hyundai">
                                            <input type="checkbox" name="hyundai" class="checkboxFilter" id="hyundai">
                                            <label for="hyundai">Hyundai</label>
                                        </div>
                                        <div class="brand_honda">
                                            <input type="checkbox" name="Honda" class="checkboxFilter" id="Honda">
                                            <label for="honda">Honda</label>
                                        </div>
                                        <div class="brand_isuzu">
                                            <input type="checkbox" name="isuzu" class="checkboxFilter" id="isuzu">
                                            <label for="isuzu">Isuzu</label>
                                        </div>
                                        <div class="brand_jaguar">
                                            <input type="checkbox" name="jaguar" class="checkboxFilter" id="jaguar">
                                            <label for="jaguar">Jaguar</label>
                                        </div>
                                        <div class="brand_jeep">
                                            <input type="checkbox" name="jeep" class="checkboxFilter" id="jeep">
                                            <label for="jeep">Jeep</label>
                                        </div>
                                        <div class="brand_kia">
                                            <input type="checkbox" name="kia" class="checkboxFilter" id="kia">
                                            <label for="kia">Kia</label>
                                        </div>
                                        <div class="brand_landrover">
                                            <input type="checkbox" name="landrover" class="checkboxFilter" id="landrover">
                                            <label for="landrover">Land Rover</label>
                                        </div>                        
                                        <div class="brand_mahindra">
                                            <input type="checkbox" name="mahindra" class="checkboxFilter" id="mahindra">
                                            <label for="mahindra">Mahindra</label>
                                        </div>
                                        <div class="brand_maruti">
                                            <input type="checkbox" name="maruti" class="checkboxFilter" id="marutisuzuki">
                                            <label for="maruti">Maruti Suzuki</label>
                                        </div>   
                                        <div class="brand_mercedesbenz">
                                            <input type="checkbox" name="mercedesbenz" class="checkboxFilter" id="mercedesbenz">
                                            <label for="mercedesbenz">Mercedes Benz</label>
                                        </div>
                                        <div class="brand_mgmotors">
                                            <input type="checkbox" name="mgmotors" class="checkboxFilter" id="mgmotors">
                                            <label for="mgmotors">Mg Motors</label>
                                        </div>
                                        <div class="brand_mini">
                                            <input type="checkbox" name="mini" class="checkboxFilter" id="mini">
                                            <label for="mini">Mini</label>
                                        </div>
                                        <div class="brand_mitsubishi">
                                            <input type="checkbox" name="mitsubishi" class="checkboxFilter" id="mitsubishi">
                                            <label for="mitsubishi">Mitsubishi</label>
                                        </div>
                                        <div class="brand_nissan">
                                            <input type="checkbox" name="nissan" class="checkboxFilter" id="nissan">
                                            <label for="nissan">Nissan</label>
                                        </div>
                                        <div class="brand_renault">
                                            <input type="checkbox" name="renault" class="checkboxFilter" id="renault">
                                            <label for="renault">Renault</label>
                                        </div>
                                        <div class="brand_skoda">
                                            <input type="checkbox" name="skoda" class="checkboxFilter" id="skoda">
                                            <label for="skoda">Skoda</label>
                                        </div>
                                        <div class="brand_tata">
                                            <input type="checkbox" name="tata" class="checkboxFilter" id="tata">
                                            <label for="tata">Tata</label>
                                        </div>
                                        <div class="brand_toyota">
                                            <input type="checkbox" name="toyota" class="checkboxFilter" id="toyota">
                                            <label for="toyota">Toyota</label>
                                        </div>
                                        <div class="brand_volkswagen">
                                            <input type="checkbox" name="volkswagen" class="checkboxFilter" id="volkswagen">
                                            <label for="volkswagen">Volkswagen</label>
                                        </div>
                                        <div class="brand_volvo">
                                            <input type="checkbox" name="volvo" class="checkboxFilter" id="volvo">
                                            <label for="volvo">Volvo</label>
                                        </div>                        
                                    </div>
                                </div>
                                
                                <div class="filter_year" >                                    
                                    <div class="year_range ">
                                        <div id="dateSlider"></div>
                                    </div>
                                </div>
                                
                                <div class="filter_kilometer" >
                                    <!-- <p>KM Driven</p> -->
                                    <div class="kilometer_list">
                                        <div class="list_1">
                                            <input type="radio" id="kilometer_1" class="kilometerFilter" name="kilometer" value="30000">
                                            <label for="kilometer_1">10000 KM - 30000 KM</label>
                                        </div>
                
                                        <div class="list_2">                            
                                            <input type="radio" id="kilometer_2" class="kilometerFilter" name="kilometer" value="60000">
                                            <label for="kilometer_2">31000 KM - 60000 KM</label>
                                        </div>
                
                                        <div class="list_3">
                                            <input type="radio" id="kilometer_3" class="kilometerFilter" name="kilometer" value="100000">
                                            <label for="kilometer_3">61000 KM - 100000 KM</label>
                                        </div>
                
                                        <div class="list_4">
                                            <input type="radio" id="kilometer_4" class="kilometerFilter" name="kilometer" value="200000"> 
                                            <label for="kilometer_4">200000 KM</label>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="modal-footer applyFilter">
                            <div class="btn btn-warning text-white" id="applyFilter" >
                                Apply
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        
        <main class="">
            <div class="bread_crumbs mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active"><a href="/buy-used-car">Buy Cars</a></li>                  
                </ol>                
            </div>
            
            <div id="carouselExampleIndicators">
                <!-- <div id="carouselExampleIndicators">
                    
                </div> -->
            </div>

            <div class="mobileFilter filter_container owl-1 owl-carousel">

                <div class="dropdown filter_options filter_budget">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" 
                    type="button" data-bs-toggle="modal" data-bs-target="#modalFilter" aria-expanded="false">
                      Filters
                    </button>
                </div>

                <div class="dropdown filter_options filter_budget">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" 
                    type="button" data-bs-toggle="modal" data-bs-target="#modalFilter" aria-expanded="false">
                      Budget
                    </button>
                </div>

                <div class="dropdown filter_options">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" type="button"
                     data-bs-toggle="modal" data-bs-target="#modalFilter" aria-expanded="false">
                      Brand
                    </button>
                </div>

                <div class="dropdown filter_options">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" type="button"
                     data-bs-toggle="modal" data-bs-target="#modalFilter" aria-expanded="false">
                      Year
                    </button>
                </div>

                <div class="dropdown filter_options">
                    <button class="btn btn-warning btn-sm dropdown-toggle text-white shadow-none" type="button"  
                     data-bs-toggle="modal" data-bs-target="#modalFilter" aria-expanded="false">
                      Kilometer
                    </button>
                </div>
            </div>
            
            <div class="card_list" id="used_car_list">
                <!-- <a href="/buy-used-car/volkswagen/001" class="car_card">
                    <div class="car_image_container">  
                        <div class="car_bg">
                        </div>
                        <img class="car_image" src="https://freepngimg.com/thumb/car/4-2-car-png-hd.png" alt="">
                    </div>
                    <div class="card_content">
                        <h6 class="title">2014 Volkswagen Vento</h6>
                        <span class="kilometer small-2"> 25000 km</span>
                        <span class="fuel small-2">Petrol</span>
                        <span class="transmission small-2"> Manual </span>   
                        <hr>
                        <h6 class="price " > Rs 4,40,000 </h6>                        
                        <span class="location small-1"> Avadi, Chennai </span>  
                    </div>
                </a>  -->
            </div>
        </main>
    </div>
    
    <footer class="page-footer footer ">
        <div class="container ">
            <div class="row">
                <div class="left col-12  col-lg-6">
                    <div class="footer-logo col-12">
                        <img class="logo" src="{{ url_for('static', path='common/resources/logo-dark.png'  ) }}" alt="">
                    </div>
                    <p class="small-1">
                        ZEROO Cars is a used car showroom that aims to provide the best customer service and high-quality vehicles to the market. 
                        ZEROO Cars uses a state-of-the-art vehicle valuation system to help customers choose the car that suits their needs. 
                    </p>
                    <div class="social_media">
                        <a href="https://www.youtube.com/channel/UC8JunXcqNdHU5rCibpzB8mQ"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/zeroo_carz/"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/zeroocarz"><i class="fab fa-twitter"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=9444577596"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>

                <div class="right col-12 col-lg-6">
                    <div class="company">
                        <div class="title ">
                            COMPANY
                        </div>
                        <div class="body small-1">
                            <a href="#">About Us</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="support">
                        <div class="title">
                            SUPPORT
                        </div>
                        <div class="body small-1">
                            <span><i class="fas fa-phone-alt"></i> 1800-000-000</span>
                            <span><i class="fas fa-envelope"></i>zeroocarz@gmail.com</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4  legal_copyright small-1">
                    Copyright &copy; 2022 Zeroo cars Inc. All rights reserved.
                </div>
                
                {#<div class="col-lg-4 legal_rights">
                    <a href="#" class="small-1">Privacy Policy</a> | <a href="#" class="small-2">Terms and Conditions</a>
                </div> #}
            </div>
        </div>
    </footer>
    
    <!-- SELL CAR Modal -->
    <div class="modal fade "   id="sellcarModal" tabindex="-1"  >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h4 class=" text-center text-white">SELL YOUR CAR</h4>
                    <button type="button" class="btn-close m-0 text-white border-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="sellcar">
                        <input type="text" class="form-control mb-3 shadow-none"  name="name" id="sellerName" placeholder="Your name" >
                        <input type="phone" class="form-control mb-3 shadow-none"  name="phone" id="sellerPhone" maxlength="10" placeholder="Phone" >
                        <input type="email" class="form-control mb-3 shadow-none" name="mail" id="sellerMail" placeholder="Email" >
                        <input type="text" class="form-control mb-3 shadow-none" name="car_name" id="sellerCarBrand" placeholder="Car Brand">
                        <input type="text" class="form-control mb-3 shadow-none" name="car_model" id="carModel" placeholder="Car Model" >
                        <input type="text" maxlength="4"  class="form-control mb-3 shadow-none" name="registration year" id="sellerRegYear" placeholder="Registration Year" >
                        <!-- <input type="number" class="form-control mb-3 shadow-none"  name="kilometer" id="kilometer" placeholder="Kilometer" > -->
                        <!-- <input type="text" class="form-control mb-3 shadow-none" name="fuel_type" id="fuel_type" placeholder="Fuel Type" > -->
                        
                        <!-- <textarea name="contact_message" class="form-control shadow-none" id="contact_message" rows="5" placeholder="Your Message" ></textarea> -->
                        <input type="submit" class="form-control shadow-none border-none " id="sellCarSubmit" value="SUBMIT">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- CONTACT US Modal -->
    <div class="modal fade "  id="contactModal" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h4 class=" text-white">CONTACT US</h4>
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="contact_us ">
                        <input type="text" class="form-control shadow-none" name="contact_name" id="contactName" placeholder="Your Name">
                        <input type="email" class="form-control shadow-none"  name="contact_mail" id="contactMail" placeholder="Your Email">
                        <textarea name="contact_message" class="form-control shadow-none" id="contactMessage" rows="5" placeholder="Your Message" ></textarea>
                        
                        <input type="submit" class="form-control " value="SUBMIT" id="contactSubmit">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ABOUT US Modal -->
    <div class="modal fade "  id="aboutModal" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header ">
                    <img class="nav_logo" width="100px" src="{{ url_for('static', path='common/resources/logo-light.png'  ) }}" alt="">
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    On The Way....
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='common/js/owl.carousel.min.js') }}"></script>

    <script src="{{ url_for('static', path='common/js/nouislider.js') }}"></script>
    <script src="{{ url_for('static', path='user/js/buy_car.js') }}"></script>
    

</body>
</html>