<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='common/resources/favico.png'  ) }}" sizes="10x10">

    <title>Used Cars</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"   rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', path='common/css/nouislider.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', path='user/css/buy_car.css') }}">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FXD4TJWYNT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FXD4TJWYNT');
    </script>
</head>

<body>
    
    <nav cass="navbar">

        <div class="mobile_nav">
            <button class="btn nav_btn">
                <span class="material-icons" > menu </span>
            </button>
            
            <img class="nav_logo" src="{{ url_for('static', path='common/resources/logo-light.png'  ) }}" alt="">
            
            <div class="circle"></div>
            <div class="nav_list_outer">
                
                <div class="nav_list_header">
                    <button class="btn nav_list_btn">
                        <span class="material-icons" > cancel </span>
                    </button>
                    <img class="nav_logo" src="{{ url_for('static', path='common/resources/logo-dark.png'  ) }}" alt="">
                </div>
                <ul class="nav_list_body" >     
                    <li class="nav-item dashboard {{dashboard}}">
                        <a href="/" > 
                            <span class="nav-name">Home</span> 
                        </a>
                    </li>
                    <li class=" nav-item buy_car {{buy_car}}">
                        <a href="/buy-used-car" > 
                            <span class="nav-name">Buy a Car</span> 
                        </a>
                    </li>
                    <li class="nav-item dashboard {{dashboard}}">
                        <a href="#" > 
                            <span class="nav-name">Sell a Car</span> 
                        </a>
                    </li>
                    <li class="nav-item dashboard {{dashboard}}">
                        <a href="#" > 
                            <span class="nav-name">Contact Us</span> 
                        </a>
                    </li>
                    <li class="nav-item dashboard {{dashboard}}">
                        <a href="#" > 
                            <span class="nav-name">About Us</span> 
                        </a>
                    </li>
                    <li class="nav-item dashboard {{dashboard}}">
                        <a href="#" > 
                            <span class="nav-name">FAQ's</span> 
                        </a>
                    </li>                    
                </ul>
            </div>
        </div>     
        
        <div class="container desktop_nav">
            <a class="navbar-brand" href="/">
                <img class="nav_logo" src="{{ url_for('static', path='common/resources/logo-light.png'  ) }}" alt="">
            </a>

            <ul class="nav_list navbar-nav" >
                <li class=" nav-item buy_car {{buy_car}}">
                    <a href="/buy-used-car" class="nav-link">BUY CAR</a>
                </li>
                
                <li class="nav-item dashboard {{dashboard}}">
                    <a href="#" class="nav-link">SELL CAR</a>
                </li>

                <li class="nav-item contact_us {{dashboard}}">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#contactModal" >CONTACT US</a>
                </li>

                <li class="nav-item about_us {{dashboard}}">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#aboutModal">ABOUT US</a>
                </li>
                
                <li class="nav-item faq {{dashboard}}">
                    <a href="/#faq" class="nav-link"> FAQ's  </a>
                </li>
            </ul>
        </div>

    </nav>
    
    <div class="page-wrapper container buycars">
        <aside class="aside">
            <div class="filters">
                <div class="filter_budget">
                    <p>Budget</p>    
                    <div class="price_text">
                        <p class="text_1">Rs --</p> <p class="text_2">Rs --</p>
                    </div>
                    <div class="range_container">
                        <div id="slider" style="height: 10px; width: 100%;"></div>
                    </div>            
                </div>

                <div class="filter_brand">
                    <p >Brand</p>
                    <div class="brand_list">
                        <div class="brand_maruti">
                            <input type="checkbox" name="maruti" id="maruti">
                            <label for="maruti">Maruti Suzuki</label>
                        </div>
                        <div class="brand_hyundai">
                            <input type="checkbox" name="hyundai" id="hyundai">
                            <label for="hyundai">Hyundai</label>
                        </div>
                        <div class="brand_honda">
                            <input type="checkbox" name="Honda" id="Honda">
                            <label for="honda">Honda</label>
                        </div>
                        <div class="brand_volkswagen">
                            <input type="checkbox" name="volkswagen" id="volkswagen">
                            <label for="volkswagen">Volkswagen</label>
                        </div>
                    </div>
                </div>

                <div class="filter_year">
                    <p>Year</p>

                    <div class="year_list">
                        
                    </div>
                </div>

                <div class="filter_kilometer">
                    <p>KM Driven</p>
                    <div class="kilometer_list">
                        <div class="list_1">
                            <input type="radio" id="kilometer_1" name="kilometer" value="100">
                            <label for="kilometer_1">10000 KM - 30000 KM</label>
                        </div>

                        <div class="list_2">                            
                            <input type="radio" id="kilometer_2" name="kilometer" value="3100">
                            <label for="kilometer_2">31000 KM - 60000 KM</label>
                        </div>

                        <div class="list_3">
                            <input type="radio" id="kilometer_3" name="kilometer" value="6100">
                            <label for="kilometer_3">61000 KM - 100000 KM</label>
                        </div>
                        <div class="list_4">
                            <input type="radio" id="kilometer_4" name="kilometer" value="1000"> 
                            <label for="kilometer_4">100000+ KM</label>
                        </div>    
                    </div>
                </div>
            </div>
        </aside>
        
        <main class="">
            <div class="bread_crumbs" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active"><a href="/buy-used-car">Buy Cars</a></li>                  
                </ol>
            </div>
            
            <div class="card_list" id="used_car_list">

                <div class="car_card">
                    <a href="/buy-used-car/volkswagen/001" >
                        <div class="car_image_container">  
                            <div class="car_bg">
                            </div>
                            <img class="car_image" src="https://freepngimg.com/thumb/car/4-2-car-png-hd.png" alt="">
                        </div>
                        <div class="card_content">
                            <h6 class="title">2014 Volkswagen Vento</h6>
                            <span class="kilometer small-2"> 25000 km</span>
                            <span class="fuel small-2">Petrol</span>
                            <span class="transmission small-2"> Manual </span>                
                            <h6 class="price " > Rs 4,40,000 </h6>
                            <span class="location small-1"> Avadi, Chennai </span>  
                        </div>
                    </a>
                </div>
            </div>            
        </main>
        
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='common/js/owl.carousel.min.js') }}"></script>

    <script src="{{ url_for('static', path='common/js/nouislider.js') }}"></script>
    <script src="{{ url_for('static', path='user/js/buy_car.js') }}"></script>
    

</body>
</html>